nav
    each value, key in theme.menu
        - var re = /^(http|https):\/\/*/gi;
        - var tar = re.test(value) ? "_blank" : "_self"
        a(class={active: is_current_menu(value)} href=url_for(value) target=tar)
            != key
