ul.archive-list {
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.archive-list {

  li {
    margin-bottom: 10px;
  }

  time {
    color: #6b747f;
    margin-right: 16px;
    font-family: "Hevetica Neue", Arial, sans-serif;
  }

  a {
    text-decoration: none;
    color: #4D545D;
  }

  .entry-year {
    font-size: 22px;
    margin: 28px 0 16px;
  }

}
