$l-color: #42b983;

html, body {
  padding: 0;
  margin: 0;
}

body {
  transition: opacity .4s ease-in;
}

.pupa {
  font-family: "Lora", "Xin Gothic", "PingFang TC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
}

::selection,
.pupa ::selection {
  background-color: #222;
  color: #f9f9f9;
}

.hide {
  display: none;
}

.container {
  max-width: 760px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  zoom: 1;
}

.container:after {
  display: table;
  content: "";
  clear: both;
}

a {
  color: #434344;
  transition: all 0.25s ease-in;
}

a:hover {
  opacity: 0.8;
}

.logo {
  width: 24px;
  height: 24px;
}

figcaption > span {
  display: block;
  padding: 5px;
}
