footer {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #eee;
  color: #999;
  font-size: 13px;
  font-family: "Optima", "Helvetica Neue", sans-serif;

  p {
    margin-bottom: 0;
  }
}
