
@media (max-width: 650px) {
  .pupa a {
    word-break: break-all;
  }

  .brand strong, .social-button {
    display: none;
  }

  .container {
    padding-left: 18px;
    padding-right: 18px;
  }

  .entry-content figure {
    margin-left: -18px;
    margin-right: -18px;
  }
}
