.entry-header {

    .container {
      padding-top: 2em;
      padding-bottom: 1em;
      border-bottom: 1px solid #eee;
    }

    .entry-title {
      margin: 0;
      padding: .6em 0;
      font-size: 30px;
    }

    .entry-description {
      color: #787879;
      font-size: 20px;
      font-family: "Lucida Grande", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .entry-meta {
      position: relative;
    }

    .entry-meta .button {
      position: absolute;
      right: 0;
      bottom: 0;
    }

}

.entry-header[data-cover]::before {
  content: '';
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hentry {

    .entry-content {
      padding-top: 2em;
    }

    .entry-content h2 {
      margin-top: 2em;
      border-bottom: 1px solid #eee;
    }

    .entry-footer {
      color: #999;
      font-weight: 300;
      font-size: 14px;
    }
}

.entry-content {
    a {
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid #999;

      &:hover {
        color: $l-color;
        border-color: $l-color;
      }

      &.img-link {
        border-bottom: 0;
      }

    }

}

.entry-extra {
  zoom: 1;
}

.entry-extra:after {
  display: table;
  content: ' ';
  clear: both;
}

.entry-tags {
  float: left;
  margin-bottom: 20px;

  .tag {
    text-decoration: none;
    margin-right: 6px;
    font-size: 13px;
  }

  .tag:before {
    content: '#';
    color: #999;
  }

}

.social-button {
  float: right;
}

.entry-comments {
  padding: 30px 0;
  background: #fafafa;
  border-top: 1px solid #ddd;
}

.entry-content {
  h1, h2, h3, h4, h5, h6 {
      position: relative;
      margin: 1em 0;
      &:before {
          display: none;
          content: "#";
          color: #42b983;
          position: absolute;
          left: -0.7em;
          top: -4px;
          font-size: 1.2em;
          font-weight: bold;
      }

      &:hover {
        &:before {
          display: block;
        }
      }
  }
  h4, h5, h6 {
      &:before {
          content: "";
      }
  }

  .headerlink {
    position: absolute;
    left: -0.7em;
    top: -4px;
    width: 24px;
    height: 60px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: none;
  }
}
