mixin postInfo(item)
    .entry-meta
        time.updated(itemprop='datePublished' datetime=full_date(item.date, 'dddd, MMMM Do YYYY, h:mm:ss a'))
            != full_date(item.date, 'll')
        em.post-count
            != wordcount(item.content) + ' words'

//- Index Page
mixin posts()
    div.entry-header
        div.container
            h1.entry-title
                != config.title
            p.entry-description
                != config.description
    ul.entry-list
        - page.posts.each(function (item) {
            li.entry-item(itemscope='' itemtype='http://schema.org/Article')
                article
                    +postInfo(item)
                    h2.post-name(itemprop='name')
                        a(href= url_for(item.path) itemprop='url')
                            != item.title
                    .description.post-content(itemprop='description')
                        a(href= url_for(item.path))
                            != item.excerpt
                    // a.read-more(href= url_for(item.path))!= __('more')
        - })

//- Archive Page
mixin postList()
    .archive-list
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY-MM');
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                div.entry-year!= year
            .entry-item
                time
                    != full_date(item.date, 'YYYY-MM-DD')
                a(href= url_for(item.path))
                    != item.title
        - })

//- Post Page
mixin post(item)
    .post
        article.hentry(itemscope='' itemtype='http://schema.org/Article')
            div.entry-header
                div.container
                    h1.entry-title
                        != item.title
                    div.entry-description
                        != item.excerpt
                    +postInfo(item)
            .entry-content.container(itemprop='articleBody')
                != item.more
            div.entry-extra.container
                div.entry-tags
                    if item.tags && item.tags.length
                        - item.tags.each(function(tag){
                            a.tag(href=url_for(tag.path))
                                != tag.name
                        - })
